{% extends 'base.html' %}

{% block title %}SEARCH RESULTS{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block css %}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .post {
    display: flex;
    width: 70%;
    margin: 50px auto;
    box-shadow: 0 5px 15px 0 #777;
    background: linear-gradient(to bottom, #ffafbd 0%,#ffc3a0 100%);
  }
  
  .time {
    font-size: 13px;
    color: black;
  }
  
  .post-author {
    color: #555;
  }
  
  .post-excerpt {
    line-height: 1.33;
  }
  
 
 
  .post-content {
    padding: 20px 30px;
  }
  
  .post-link {
    display: inline-block;
    margin: 0 0 15px;
    padding: 16px 48px;
    background: linear-gradient(to bottom, #ffafbd 0%,#ffc3a0 100%);
    color: black;
    text-decoration: none;
    border-radius: 4em;
    transition: background .2s ease-in-out;
  }
  
  @media screen and (max-width: 1024px) {
    .post {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .post {
      flex-direction: column;
    }
    
    .post-image {
      height: 270px;
      max-width: 100%;
    }
    
    .post-content {
      // padding: 20px 0;
    }
  }
{% endblock %}
{% block body %} 

<div class="container my-3">
    <h2>Search Results</h2>
    {% if allPosts|length < 1 %}
    <p>No search results</p>

    Your search query: <b>{{query}} </b> did not match any documents. <br>
    Suggestions:  
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try different keywords.</li>
    <li>Try more general keywords.</li>
    <li>Try fewer keywords.</li>
    </ul>
    {% endif %}
    
    {% for post in allPosts %}
    <div class="post">
        
        <div class="post-content">
        <p class="post-date">Posted on <time>{{post.timeStamp}}</time> by <a class="post-author" href="/blog/{{post.slug}}">{{post.author}}</a></p>
          <h2 class="post-title">{{post.title}}</h2>
          <div class="post-excerpt">
            <p>{{post.content|safe| truncatechars:250 }}</p>
          </div>
          <a class="post-link" href="/blog/{{post.slug}}">Read More</a>
        </div>
      </div>


    {% endfor %}
</div>

{% endblock body %}